Checks: '
  -*,
  bugprone-*,
  -bugprone-easily-swappable-parameters,
  clang-analyzer-*,
  readability-*,
  -readability-identifier-naming,
  -readability-magic-numbers,
  -readability-function-cognitive-complexity,
  -readability-identifier-length'

WarningsAsErrors: ''
HeaderFilterRegex: ''
ExtraArgs:
  - '-std=c++17'

FormatStyle: file

CheckOptions:
  []